<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
<!--    <link th:href="@{https://fonts.googleapis.com/css?family=Asap}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css"/>

</head>
<body>
<a>Welcome</a>
<div class="sel">

    <a th:href="@{/login}"> Log In</a><br>
    <a th:href="@{/registration}">Go to User Registration Form</a><br>
    <a th:href="@{/employee_reg}">Go to Employee Registration Form</a><br>
</div>
</body>
</html>