<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
<!--    <link th:href="@{https://fonts.googleapis.com/css?family=Asap}" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/script/main.js"></script>
</head>
<body>
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">AirBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Strona Główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employee}">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/flight}">Flight</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Sign in</a>
            </li>
        </ul>
    </div>
</nav>
</div>
<div class="waves container">
    <div class="search">
        <p th:if="${param.error}">Error</p>
        <form th:action="@{/search}" th:object="${flightSearchRequest}" method="post">
            <div class="form-group">
                <label for="airportStart">Start Airport</label>
                <select class="custom-select" id="airportStart" th:field="*{airportStartId}" required>
                    <option th:each="airportstart : ${airportsStart}" th:value="${airportstart.airportId}" th:text="${airportstart.getAirportName()}"/>
                </select>
            </div>
            <div class="form-group">
                <label for="airportEnd">End Airport</label>
                <select class="custom-select" id="airportEnd" th:field="*{airportEndId}" required>
                    <option th:each="airportend : ${airportsEnd}" th:value="${airportend.airportId}" th:text="${airportend.getAirportName()}"/>
                </select>
            </div>
            <div class="form-group">
                <label for="departure">Departure</label>
                <input class="form-control" id="departure" type="date" th:field="*{departureTime}" placeholder="Departure" required>
            </div>
            <div class="form-group">
                <label for="return">Return</label>
                <input class="form-control" id="return" type="date" th:field="*{returnTime}" placeholder="Return">
                <span class="input-group-append">
                    <input type="checkbox" id="one-way" name="ckeckbox" th:field="*{isOneWay}" onchange="toogleReturnTime()"> One Way Ticket
                </span>
            </div>
            <input class="btn btn-primary" type="submit" value="Search">
        </form>
    </div>
</div>
</body>
</html>