<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <meta charset="UTF-8">
    <title>AirBook</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="form-group">
    <form class="login" th:action="@{/login}" th:object="${user}" method="post">
        <p th:if="${param.error}" th:text="${param.error.get(0)}"></p>
        <div class="form-group">
            <label >Username</label>
            <input type="text" name="username"  class="form-control" id="username" required placeholder="Username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password"  class="form-control" id="password" required placeholder="Password">
        </div>
        <button type="submit">Login</button>
        <br><span class="register-link">Nie masz konta? <a th:href="@{/register}">Zarejestruj się.</a></span>
    </form>
</div>
</body>
</html>