<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
        <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div th:include="index.html"></div>
<div class="form-group">
    <form class="login" th:action="@{/register}" th:object="${user}" method="post">
        <input type="text"  class="form-control" th:field="*{username}" placeholder="Username">
        <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
<!--        <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password">-->
        <button type="submit">Sign In</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>