<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight List</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/flight.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/waves.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/script/flight.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a class="btn btn-primary add" th:href="@{/flight}">Flight List</a>
    <form th:action="@{/flight/add}" th:object="${flight}" method="post">
        <div class="form-group">
            <label for="maxSeats">Max Seats:</label>
            <input class="form-control" type="text" id="maxSeats" th:field="*{maxSeats}"/>
        </div>

        <div class="form-group">
            <label for="captain">Captain:</label>
            <select class="custom-select" id="captain" th:field="*{captain}">
                <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.getName()}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="airportStart">Start Airport:</label>
            <select class="custom-select" id="airportStart" th:field="*{airportStart}">
                <option th:each="airportstart : ${airportsStart}" th:value="${airportstart.airportId}" th:text="${airportstart.getAirportName()}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="airportEnd">End Airport:</label>
            <select class="custom-select" id="airportEnd" th:field="*{airportEnd}">
                <option th:each="airportend : ${airportsEnd}" th:value="${airportend.airportId}" th:text="${airportend.getAirportName()}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="departureTime">Departure Time:</label>
            <input class="form-control" type="datetime-local" id="departureTime" th:field="*{departureTime}" required/>
        </div>
        <div class="form-group">
            <label for="arrivalTime">Arrival Time:</label>
            <input class="form-control" type="datetime-local" id="arrivalTime" th:field="*{arrivalTime}" required/>
        </div>

        <div class="form-group">
            <label for="seatPlacement">Seat Placement:</label>
            <select class="custom-select" id="seatPlacement" th:field="*{seatPlacement}">
                <option th:each="placement : ${seatPlacement}" th:value="${placement}" th:text="${placement}"/>
            </select>
        </div>
        <input class="btn-primary btn" type="submit" value="Add Flight"/>
    </form>
</div>
</body>
</html>